{% extends 'base.html' %} {% block local-style %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %} {% block header %}
<h1>MmmmBoxes</h1>
{% endblock %} {% block title %} Register {% endblock %} {% block content %}
<form method="post">
  <input
    class="entry"
    name="username"
    id="username"
    placeholder="Username"
    required
  />

  <input
    class="entry"
    type="password"
    name="password"
    id="password"
    placeholder="Password"
    required
  />

  <input class="entry" name="email" id="email" placeholder="Email" required />

  <input
    class="entry"
    name="fullname"
    id="fullname"
    placeholder="Full Name"
    required
  />

  <div class="entry">
    <input type="checkbox" id="role-officer" name="is-officer" value="true" />
    <label for="role-officer">I am an officer</label><br />
  </div>

  <input class="submit-button" type="submit" value="Create Account" />
</form>
<a class="entry" href="{{ url_for('auth.login') }}">Log in</a>
{% endblock %}
