<link
  rel="stylesheet"
  href="{{ url_for('static', filename='signature-canvas.css') }}"
/>

<div id="signature-canvas-wrapper" class="tiny-blue-border hidden-signature">
  <div id="signature-labels">
    <span id="signature-label-text">
      Signature for
      <span id="package-owner-placeholder"></span>'s
      <span id="package-title-placeholder"></span>
    </span>
  </div>
  <div id="canvas-wrapper">
    <canvas id="signature-pad"></canvas>
  </div>
  <div id="signature-buttons-containter">
    <div id="signature-cancel" class="signature-btn-wrapper">
      <button id="signature-cancel-btn" class="signature-btn">
        <span>Cancel</span>
      </button>
    </div>
    <div id="signature-clear" class="signature-btn-wrapper">
      <button id="signature-clear-btn" class="signature-btn">
        <span>Clear</span>
      </button>
    </div>
    <div id="signature-submit" class="signature-btn-wrapper">
      <button id="signature-submit-btn" class="signature-btn">
        <span>Submit</span>
      </button>
    </div>
  </div>
</div>
<div
  id="requested-signature-display-wrapper"
  class="tiny-blue-border hidden-signature"
>
  <div id="signature-loading-info-wrapper">
    <span id="signature-loading-info"></span>
  </div>
  <div class="requested-canvas-wrapper">
    <img
      id="signature-display"
      src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif"
    />
  </div>
  <button
    type="button"
    id="signature-display-close"
    onclick="closeRequestedSignatureDisplay()"
  >
    Close
  </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/signature-pad@4.0.0/dist/signature-pad.umd.min.js"></script>
<script
  src="{{ url_for('static', filename='signature-canvas.js')}}"
  charset="utf-8"
></script>
<script type="text/javascript">
  initializeSignatureProcessingUrl("{{ url_for('officer.sign') }}");
  initializeSignatureRequestUrl("{{ url_for('officer.getsign') }}");
  initializeForcedRefreshUrl("{{ url_for('officer.droppostdata') }}");
</script>
{% if clear-post-data %}
<script type="text/javascript">
  window.open(forcedRefreshUrl, "-self");
</script>
{% endif %}
