<link rel="stylesheet"
      href="{{ url_for('static', filename='styles/package-table.css') }}"/>
<script language="JavaScript">

function toggleVisibility(eventsender, idOfObjectToToggle){
    var myNewState = "visible";
    if (eventsender.checked === true){
        myNewState = "hidden";
    }
    const collection = document.getElementsByClassName("collected-entry");
    for (let i = 0; i < collection.length; i++) {
        collection[i].style.visibility = myNewState;
    }
    }       
</script>
<br>
<label> Hide collected packages </label><input type="checkbox" id="collected-checkbox" name="collected-checkbox" onClick = "JavaScript:toggleVisibility(this,'collected');"/>
<table class="tablecenter"
       id="packages-table">
    <tr class="packages-row">
        {% if session.get("user-is-officer") %}
            <th class="packages-col-heading">Package Collector</th>
        {% endif %}
        <th class="packages-col-heading package-title-col">Package Title</th>
        <th class="packages-col-heading-date">Delivered</th>
        <th class="packages-col-heading-date">Collected</th>
        {% if show_signature_button %}<th class="packages-col-heading">Signature</th>{% endif %}
        {% if session.get("user-is-officer") %}
            <th class="packages-col-heading">Email reminder</th>
        {% endif %}
    </tr>
    {% set ns = namespace(last_delivered="")%}
    {% for package in get_package_list()|sort(reverse=True, attribute="delivered") %}
        {% if ns.last_delivered != package.delivered[:10] and ns.last_delivered != "" %}
            <tr>
                <td class="packages-spacer"
                    style="border-width: 0"></td>
            </tr>
        {% endif %}
        {% if package.collectednice == "Collection pending" %}
            <tr class="packages-row">
        {% else %}
            <tr class="packages-row collected-entry">
        {% endif %}
            {% if session.get("user-is-officer") %}
                {% include 'common/package-table/package-owner-column.html' %}
            {% endif %}
            <td class="packages-col package-title-col">{{ package.title }}</td>
            <td class="packages-col">{{ package.deliverednice }}</td>
            {% if package.collectednice == "Collection pending" %}
                {% include 'common/package-table/collection-pending-column.html' %}
                {% include 'common/package-table/signature-button-column.html' %}
                {% if session.get("user-is-officer") %}
                    <td>
                        <a href="{{ url_for('officer.remind', package_id=package.id) }}">
                            <button class="remind-button">Send Reminder</button>
                        </a>
                    </td>
                {% endif %}
            {% else %}
                <td class="packages-col">{{ package.collectednice }}</td>
                {% include 'common/package-table/signature-button-column.html' %}
            {% endif %}
        </tr>
        {% set ns.last_delivered = package.delivered[:10] %}
    {% endfor %}
</table>
{% include 'common/package-table/signature-canvas.html' %}
<script src="{{ url_for('static', filename='scripts/collection-modals.js') }}" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  let socket = io();
  socket.on("new_package", (data) => {
    console.log(data);
    let package_table = document.getElementById("packages-table");
    let package_row = package_table.insertRow(1);
    package_row.classList.add("packages-row");

    {% if session.get("user-is-officer") %}
    let fullname_cell = package_row.insertCell();
    fullname_cell.classList.add("packages-col");

    let span = document.createElement("span");
    span.classList.add("tooltip-item");

    span.appendChild(document.createTextNode(data.fullname));

    let spanOuter = document.createElement("span");
    spanOuter.classList.add("mytooltip", "tooltip-effect-1");
    spanOuter.appendChild(span);

    fullname_cell.appendChild(spanOuter);
    {% endif %}

    let title_cell = package_row.insertCell();
    title_cell.classList.add("packages-col");
    title_cell.appendChild(document.createTextNode(data.title));

    let delivered_cell = package_row.insertCell();
    delivered_cell.classList.add("packages-col");
    delivered_cell.appendChild(document.createTextNode(data.deliverednice));

    let collected_cell = package_row.insertCell();
    collected_cell.classList.add("packages-col");
    collected_cell.appendChild(document.createTextNode(data.collectednice));


  });
</script>
