<table id="packages_table">
  <tr class="packages_row">
      {% if not hide_owner_details_in_table %}
        <th class="packages_col">Package Owner</th>
        <th class="packages_col">Owner's Email</th>
      {% endif %}
      <th class="packages_col">Package Title</th>
      <th class="packages_col">Delivered</th>
      <th class="packages_col">Collected</th>
  </tr>
  {% for package in get_package_list() %}
    <tr class="packages_row">
      {% if not hide_owner_details_in_table %}
        <td class="packages_col">{{ package.fullname }}</td>
        <td class="packages_col">{{ package.email }}</td>
      {% endif %}
      <td class="packages_col">{{ package.title }}</td>
      <td class="packages_col">{{ package.delivered }}</td>
      <td class="packages_col">{{ package.collected }}</td>
    </tr>
  {% endfor %}
</table>
