{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}OFFICER Package list{% endblock %}</h1>
{% endblock %}


{% block local_style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='officer.css') }}">
{% endblock %}


{% block content %}

<form method="post">
  <label for="resident_name">Resident name</label>
  <input name="resident_name" id="resident_name" required>
  <label for="package_title">Title</label>
  <input name="package_title" id="package_title" required>
  <input type="submit" value="Add new package">
</form>

<a href="{{ url_for('officer.template') }}" >Edit reminder email</a>

<table id="packages_table">
  <tr class="packages_row">
      <th class="packages_col">Package Owner</th>
      <th class="packages_col">Owner's Email</th>
      <th class="packages_col">Package Title</th>
      <th class="packages_col">Delivered</th>
      <th class="packages_col">Collected</th>
  </tr>
  {% for package in get_package_list() %}
    <tr class="packages_row">
      <td class="packages_col">{{ package.fullname }}</td>
      <td class="packages_col">{{ package.email }}</td>
      <td class="packages_col">{{ package.title }}</td>
      <td class="packages_col">{{ package.delivered }}</td>
      <td class="packages_col">{{ package.collected }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
