{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}OFFICER Package list{% endblock %}</h1>
{% endblock %}


{% block local_style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
  <style>

#resident_name_inp {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#resident_name_inp:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown button:hover {background-color: #ddd;}

  </style>
{% endblock %}


{% block content %}

<form method="post">
  <label for="resident_name">Resident name</label>

  <div class="dropdown_input_div">
    <input
      name="resident_name"
      type="text"
      placeholder="Search Residents..."
      id="resident_name_inp"
      onfocus="showResidents()"
      onfocusout="hideResidents()"
      onkeyup="filterResidents()"
      required>
    <div id="dropdown_residents" class="dropdown-content">
      <button type="button" onclick="selectResidentName('alex')">alex</button>
      <button type="button" onclick="selectResidentName('jake')">jake</button>
      <button type="button" onclick="selectResidentName('evgen')">evgen</button>
      <!-- {% for name in get_all_resident_names() %}
        <button type="button" onclick="selectResidentName('{{ name }}')">{{ name }}</button>
      {% endfor %} -->
    </div>
  </div>

  <label for="package_title">Title</label>
  <input name="package_title" id="package_title" required>
  <input type="submit" value="Add new package">
</form>

<table id="packages_table">
  <tr class="packages_row">
      <th class="packages_col">Package Owner</th>
      <th class="packages_col">Owner's Email</th>
      <th class="packages_col">Package Title</th>
      <th class="packages_col">Delivered</th>
      <th class="packages_col">Collected</th>
  </tr>
  {% for package in get_package_list() %}
    <tr class="packages_row">
      <td class="packages_col">{{ package.fullname }}</td>
      <td class="packages_col">{{ package.email }}</td>
      <td class="packages_col">{{ package.title }}</td>
      <td class="packages_col">{{ package.delivered }}</td>
      <td class="packages_col">{{ package.collected }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='officer.js') }}" charset="utf-8"></script>
{% endblock %}
