{% extends 'base.html' %}

{% block local_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='resident-profile.css') }}">
{% endblock %}

{% block header %}
<h1>{% block title %}Overview: {{ resident.username }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>{{ resident.fullname }}</h2>
<img src="https://thiscatdoesnotexist.com/" width="128" height="128">
<h3 class="profile_property">
  <span class="profile_label">Username: </span>
  <span class="profile_value">{{ resident.username }}</span>
</h3>
<h3 class="profile_property">
  <span class="profile_label">Email: </span>
  <span class="profile_value">{{ resident.email }}</span>
</h3>
<h3 class="profile_property">
  <span class="profile_label">Full Name: </span>
  <span class="profile_value">{{ resident.fullname }}</span>
</h3>

<h3>Packages:</h3>

{% include 'common/package_table.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}
