{% extends 'base.html' %}

{% block local_style %}
{% endblock %}

{% block header %}
<h1>{% block title %}All residents{% endblock %}</h1>
{% endblock %}

{% block content %}

<input
  id="resident_list_name_inp"
  type="text"
  placeholder="Search Residents..."
  onkeyup="filterListOfresidents()">

<ul id="list_of_residents">
  {% for resident in get_residents() %}
    <li class="resident_list_elem">
      <a href="{{ url_for('officer.resident_profile', id=resident.id) }}">
        {{ resident.fullname }}
      </a>
    </li>
<ul>
  {% for resident in get_residents()|sort(attribute="fullname") %}
    <li><a href="{{ url_for('officer.resident_profile', id=resident.id) }}">{{ resident.fullname }}</a></li>
  {% endfor %}
</ul>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='officer.js') }}" charset="utf-8"></script>
{% endblock %}
