{% extends 'base.html' %}

{% block local_style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
{% endblock %}

{% block header %}
<h1>{% block title %}Residents profiles overview{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>{{ resident.fullname }}</h2>
<h3 class="profile_property">
  <span class="profile_label">Username: </span>
  <span class="profile_value">{{ resident.username }}</span>
</h3>
<h3 class="profile_property">
  <span class="profile_label">Email: </span>
  <span class="profile_value">{{ resident.email }}</span>
</h3>
<h3 class="profile_property">
  <span class="profile_label">Full Name: </span>
  <span class="profile_value">{{ resident.fullname }}</span>
</h3>

<h3>Packages:</h3>

{% include 'officer/includes/package_table.html' %}

{% endblock %}

{% block scripts %}
{% endblock %}
