.packages_col_heading {
    text-align: left;
    padding-right: 2rem;
  }

  .packages_col_heading_date {
    text-align: left;
    padding-right: 10rem;
  }

  .packages_spacer {
    padding: 0.5rem;
  }