{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Your packages{% endblock %}</h1>
{% endblock %}

{% block local_style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">
{% endblock %}

{% block content %}

<p><a href="{{ url_for('hello') }}" >Back to homepage</a></p>

<form method="post">
  <label for="resident_name">Resident name</label>
  <input name="resident_name" id="resident_name" required>
  <label for="package_title">Title</label>
  <input name="package_title" id="package_title" required>
  <input type="submit" value="Add new package">
</form>

{% include 'common/package_table.html' %}

{% endblock %}
