{% block header %}
  <h1>{% block title %}RESIDENT Package list{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!--Load known packages, then listen for updates on new packages. -->
    <div id="package_list">
      {% for package in get_package_list() %}
        <p>{{ package }}</p>
      {% endfor %}
    </div>

    <script src="../scripts/jquery-3.6.0.js"></script>
    <script src="../scripts/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on("new_package", function(data) {
            console.log(data);
            var package_list_div = document.getElementById("package_list");
            package_list_div.appendChild(document.createTextNode(JSON.stringify(data)));
        });
    </script>

{% endblock %}