<link rel="stylesheet" href="{{ url_for('static', filename='package-table.css') }}">

<table id="packages_table">
  <tr class="packages_row">
      <th class="packages_col_heading">Package Owner</th>
      <th class="packages_col_heading">Package Title</th>
      <th class="packages_col_heading_date">Delivered</th>
      <th class="packages_col_heading_date">Collected</th>
  </tr>

  {% set ns = namespace(last_delivered="")%}
  {% for package in get_package_list()|sort(reverse=True, attribute="delivered") %}
     <!-- Forgive me for this. RFC3339 timestamp is 2022-06-09T17:41:27.409845, so taking first 10 chars gives date-->
    {% if ns.last_delivered != package.delivered[:10] and ns.last_delivered != "" %}
      <tr><td class="packages_spacer" style="border-width : 0"></td></tr>
    {% endif %}
          <tr class="packages_row">
          <td class="packages_col">
            <div class="card-block">
              <p class="text-center">
                <span class="mytooltip tooltip-effect-1">
                  <span class="tooltip-item">{{ package.fullname }}</span>
                  <span class="tooltip-content clearfix">
                    <img src="https://thiscatdoesnotexist.com/" width="128" height="128">
                    <span class="tooltip-text">{{ package.fullname }} <br> {{package.email}} </span>
                    <a href="/officer/residents/{{ package.resident_id }}/profile">View resident profile</a>
                  </span>
                </span></p>
              </div>
          </td>
          <td class="packages_col">{{ package.title }}</td>
          <td class="packages_col">{{ package.deliverednice }}</td>
          {% if package.collectednice == "Collection pending" %}
            <td class="packages_col"> Collection Pending
            <button onclick="document.getElementById('collect-{{ package.id}}').style.display='block'">Collect Package</button>
    
            <div id="collect-{{ package.id }}" class="modal">
              <span onclick="document.getElementById('collect-{{package.id}}').style.display='none'" class="close" title="Close Modal">×</span>
              <form class="modal-content" action="/action_page.php">
                <div class="container">
                  <h1>Collect Package</h1>
                  <p>Confirm package entitled {{ package.title }} has been collected by {{package.fullname}} </p>
            
                  <div class="clearfix">
                    <button type="button" onclick="document.getElementById('collect-{{ package.id }}').style.display='none'" class="cancelbtn">Cancel</button>
                    <a href = "{{ url_for('officer.collect_package', package_id=package.id) }}"><button type="button" class="deletebtn">Confirm</button></a>
                  </div>
                </div>
              </form>
            </div>
            <button class = "delete" onclick="document.getElementById('delete-{{ package.id }}').style.display='block'">Delete Package</button>
    
            <div id="delete-{{ package.id }}" class="modal">
              <span onclick="document.getElementById('delete-{{package.id}}').style.display='none'" class="close" title="Close Modal">×</span>
              <form class="modal-content" action="/action_page.php">
                <div class="container">
                  <h1>Delete Package</h1>
                  <p>Confirm you wish to delete package entitled {{ package.title }} meant to be collected by {{package.fullname}}. Perhaps remind them instead.</p>
            
                  <div class="clearfix">
                    <button type="button" onclick="document.getElementById('delete-{{ package.id }}').style.display='none'" class="cancelbtn">Cancel</button>
                    <a href = "{{ url_for('officer.delete_package', package_id=package.id) }}"><button type="button" class="deletebtn">Delete</button></a>
                  </div>
                </div>
              </form>
            </div>
          </td>
          </td>
    
          {% else %}
            <td class="packages_col"> {{ package.collectednice }}</td>
          {% endif %}
        </tr>
    {% set ns.last_delivered = package.delivered[:10] %}
  {% endfor %}
</table>

{% include 'common/js_libs.html' %}
<script type="text/javascript" charset="utf-8">
    let socket = io()
    socket.on("new_package", (data) => {
        console.log(data);
        let package_table = document.getElementById("packages_table");
        let package_row = package_table.insertRow(1);
        package_row.classList.add("packages_row")

        let fullname_cell = package_row.insertCell()
        fullname_cell.classList.add("packages_col")
        fullname_cell.appendChild(document.createTextNode(data.fullname));

        let email_cell = package_row.insertCell()
        email_cell.classList.add("packages_col")
        email_cell.appendChild(document.createTextNode(data.email));

        let title_cell = package_row.insertCell()
        title_cell.classList.add("packages_col")
        title_cell.appendChild(document.createTextNode(data.title));

        let delivered_cell = package_row.insertCell()
        delivered_cell.classList.add("packages_col")
        delivered_cell.appendChild(document.createTextNode(data.deliverednice));

        let collected_cell = package_row.insertCell()
        collected_cell.classList.add("packages_col")
        collected_cell.appendChild(document.createTextNode(data.collectednice));

    });
</script>
