<link rel="stylesheet" href="{{ url_for('static', filename='package-table.css') }}">

<table id="packages_table">
  <tr class="packages_row">
      <th class="packages_col_heading">Package Owner</th>
      <th class="packages_col_heading">Owner's Email</th>
      <th class="packages_col_heading">Package Title</th>
      <th class="packages_col_heading_date">Delivered</th>
      <th class="packages_col_heading_date">Collected</th>
      {% if show_signature_button %}
        <th class="packages_col_heading">Signature</th>
      {% endif %}
  </tr>

  {% set ns = namespace(last_delivered="")%}
  {% for package in get_package_list()|sort(reverse=True, attribute="delivered") %}
     <!-- Forgive me for this. RFC3339 timestamp is 2022-06-09T17:41:27.409845, so taking first 10 chars gives date-->
    {% if ns.last_delivered != package.delivered[:10] and ns.last_delivered != "" %}
      <tr><td class="packages_spacer"></td></tr>
    {% endif %}

    <tr class="packages_row">
      <td class="packages_col">{{ package.fullname }}</td>
      <td class="packages_col">{{ package.email }}</td>
      <td class="packages_col">{{ package.title }}</td>
      <td class="packages_col">{{ package.deliverednice }}</td>
      <td class="packages_col">{{ package.collectednice }}</td>
      {% if show_signature_button %}
        <td class="packages_col">
          {% if package.signature_path %}
            <span>Signed</span>
            <button type="button">View</button>
          {% else %}
            <span>Not signed</span>
            <button type="button">Sign</button>
          {% endif%}
        </td>
      {% endif %}
    </tr>

    {% set ns.last_delivered = package.delivered[:10] %}
  {% endfor %}
</table>

{% include 'common/signature_canvas.html' %}

{% include 'common/js_libs.html' %}
<script type="text/javascript" charset="utf-8">
    let socket = io()
    socket.on("new_package", (data) => {
        console.log(data);
        let package_table = document.getElementById("packages_table");
        let package_row = package_table.insertRow(1);
        package_row.classList.add("packages_row")

        let fullname_cell = package_row.insertCell()
        fullname_cell.classList.add("packages_col")
        fullname_cell.appendChild(document.createTextNode(data.fullname));

        let email_cell = package_row.insertCell()
        email_cell.classList.add("packages_col")
        email_cell.appendChild(document.createTextNode(data.email));

        let title_cell = package_row.insertCell()
        title_cell.classList.add("packages_col")
        title_cell.appendChild(document.createTextNode(data.title));

        let delivered_cell = package_row.insertCell()
        delivered_cell.classList.add("packages_col")
        delivered_cell.appendChild(document.createTextNode(data.deliverednice));

        let collected_cell = package_row.insertCell()
        collected_cell.classList.add("packages_col")
        collected_cell.appendChild(document.createTextNode(data.collectednice));

    });
</script>
