<link rel="stylesheet" href="{{ url_for('static', filename='signature_canvas.css') }}">

<div id="signature_canvas_wrapper" class="tiny_blue_border hidden_signature">
  <div id="signature_labels">
    <span id="signature_label_text">
      Signature for
      <span id="package_owner_placeholder"></span>'s
      <span id="package_title_placeholder"></span>
    </span>
  </div>
  <div id="canvas_wrapper">
    <canvas id="signature-pad" width="400" height="200"></canvas>
  </div>
  <div id="signature_buttons_containter">
    <div id="signature-cancel" class="signature-btn-wrapper">
      <button id="signature-cancel-btn" class="signature-btn">
        <span>Cancel</span>
      </button>
    </div>
    <div id="signature-clear" class="signature-btn-wrapper">
      <button id="signature-clear-btn" class="signature-btn">
        <span>Clear</span>
      </button>
    </div>
    <div id="signature-submit" class="signature-btn-wrapper">
      <button id="signature-submit-btn" class="signature-btn">
        <span>Submit</span>
      </button>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js">
</script>
<script
  src="{{ url_for('static', filename='signature_canvas.js')}}"
  charset="utf-8">
</script>
<script type="text/javascript">
  initializeSignatureProcessingUrl("{{ url_for('officer.sign') }}")
  initializeSignatureRequestUrl("{{ url_for('officer.getsign') }}")
</script>
