html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 450;
  background: #c5cae9;
  padding: 1rem;
}

::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flash {
  color: crimson;
  font-weight: bold;
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#navigation-list aside {
  width: 200px;
  padding-left: 15px;
  font-style: italic;
  background-color: #989cb4;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  height: 100vh;
  right: -150px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
  overflow-y: unset;
}

.sidebar-navigation a {
  position: absolute;
  width: 170px;
  padding: 15px; /* 15px padding */
  border: 2px solid gray;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
}

#navigation-list aside:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

#packages {
  top: 10px;
}

#browse {
  top: 80px;
}

#email {
  top: 150px;
}

#log-out {
  bottom: 10px;
}
