{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Hello{% endblock %}</h1>
{% endblock %}

{% block local_style %}
  #hello_content {
    padding: 30px;
  }
{% endblock %}

{% block content %}
  <div id="hello_content">
    <p>Hello, {{ session.get("user_fullname") }}! Officer status: {{ session.get("user_is_officer") }}</p>
  </div>

  {% if session.get("user_is_officer") %}
  <li><a href="{{ url_for('officer.overview') }}">View all packages</a>
  {% else %}
  {% endif %}

{% endblock %}
