{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}Hello, {{ session.get("user-fullname") }}!{% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <div id="navigation-list">
        {% if session.get("user-is-officer") %}
            <p>You are an officer.</p>
            <p>
                <a href="{{ url_for('officer.overview') }}">View all packages</a>
            </p>
            <p>
                <a href="{{ url_for('officer.residents') }}">Browse residents</a>
            </p>
            <p>
                <a href="{{ url_for('officer.template') }}">Edit reminder email</a>
            </p>
        {% else %}
            <p>You are a resident.</p>
            <p>
                <a href="{{ url_for('resident.overview') }}">View your packages</a>
            </p>
        {% endif %}
        <p style="font-size: x-small">
            Not {{ session.get("user-fullname") }}?
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </p>
    </div>
{% endblock %}
