<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - DRP11</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  {% block local_style %}{% endblock %}

</head>

<body>
  <section class="content">

    {% if not hide_return %}
    <p><a href="{{ url_for('hello') }}">Back to homepage</a></p>
    {% endif %}

    <header>
      {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if g.user %}
    <a href="{{ url_for('auth.logout') }}">Log out</a>
    {% endif %}

  </section>
</body>
<script src="{{ url_for('static', filename='utils.js') }}" charset="utf-8"></script>
{% block scripts %}{% endblock %}

</html>