<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - DRP11</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% block local_style %} {% endblock %}

  </head>
  <body>
    <section class="content">

      <header>
        {% block header %}{% endblock %}
      </header>

      {% block content %}{% endblock %}

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% if g.user %}
        <a href="{{ url_for('auth.logout') }}">Log out</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Sign in</a>
      {% endif %}

    </section>
  </body>
</html>
