{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Hello{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="hello_content">
    <p>Hello, {{ session.get("user_fullname") }}! Officer status: {{ session.get("user_is_officer") }}</p>
    <p>This website is up to date with commit {{ context.short_hash_commit }}</p>
  </div>

  {% if session.get("user_is_officer") == True %}
    <li><a href="{{ url_for('officer.overview') }}">View all packages</a>
  {% endif %}

  {% if session.get("user_is_officer") == False %}
    <li><a href="{{ url_for('resident.overview') }}">View your packages</a>
  {% endif %}

{% endblock %}
